*
!*/
!.gitignore
!README.md
!app/code/community/Magehack/*
!app/code/community/Magehack/*/*
!app/code/community/Magehack/*/*/*
!app/code/community/Magehack/*/*/*/*
!app/code/community/Magehack/*/*/*/*/*
!app/code/community/Magehack/*/*/*/*/*/*
!app/code/community/Magehack/*/*/*/*/*/*/*
!app/code/community/Magehack/*/*/*/*/*/*/*/*
!app/design/frontend/Magehack/*
!app/design/frontend/Magehack/*/*
!app/design/frontend/Magehack/*/*/*
!app/design/frontend/Magehack/*/*/*/*
!app/design/frontend/Magehack/*/*/*/*/*
!app/design/frontend/Magehack/*/*/*/*/*/*
!app/etc/modules/Magehack_Elasticsearch.xml
!var/elastica-*/*
!var/elastica-*/*/*
!var/elastica-*/*/*/*
!var/elastica-*/*/*/*/*
