<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Magehack_Elasticsearch>
			<version>1.0.1</version>
		</Magehack_Elasticsearch>
	</modules>
	<global>
		<elasticsearch>
			<types>
				<product>
					<feed_class>elasticsearch/feed_product</feed_class>
					<model_class>catalog/product</model_class>
					<name>product</name>
					<enabled>1</enabled>
				</product>
				<cmspage>
					<feed_class>elasticsearch/feed_cmspage</feed_class>
					<model_class>cms/page</model_class>
					<name>cmspage</name>
					<enabled>1</enabled>
				</cmspage>
			</types>
		</elasticsearch>
		<blocks>
			<elasticsearch>
				<class>Magehack_Elasticsearch_Block</class>
			</elasticsearch>
			<catalogsearch>
				<rewrite>
					<result>Magehack_Elasticsearch_Block_CatalogSearch_Result</result>
				</rewrite>
				<args>
					<modules>
						<magehack_elasticsearch before="Mage_CatalogSearch">Magehack_Elasticsearch</magehack_elasticsearch>
					</modules>
				</args>
			</catalogsearch>
			<adminhtml>
				<rewrite>
					<catalog_product_attribute_edit_tabs>Magehack_Elasticsearch_Block_Attribute_Edit_Tabs</catalog_product_attribute_edit_tabs>
				</rewrite>
			</adminhtml>
		</blocks>
        <index>
            <indexer>
                <elasticsearch_summary>
                    <model>elasticsearch/indexer_summary</model>
                </elasticsearch_summary>
            </indexer>
        </index>
		<helpers>
			<elasticsearch>
				<class>Magehack_Elasticsearch_Helper</class>
			</elasticsearch>
		</helpers>
		<models>
			<elasticsearch>
				<class>Magehack_Elasticsearch_Model</class>
				<resourceModel>elasticsearch_mysql4</resourceModel>
			</elasticsearch>
			<elasticsearch_mysql4>
				<class>Magehack_Elasticsearch_Model_Mysql4</class>
				<entities>
					<queue_item>
						<table>elasticsearch_queue_item</table>
					</queue_item>
					<etype>
						<table>elasticsearch_etype</table>
					</etype>
					<equery>
						<table>elasticsearch_equery</table>
					</equery>
				</entities>
			</elasticsearch_mysql4>
		</models>
		<resources>
			<elasticsearch_setup>
				<setup>
					<module>Magehack_Elasticsearch</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</elasticsearch_setup>
			<elasticsearch_write>
				<connection>
					<use>core_write</use>
				</connection>
			</elasticsearch_write>
			<elasticsearch_read>
				<connection>
					<use>core_read</use>
				</connection>
			</elasticsearch_read>
		</resources>
		<events>
			<catalogsearch_index_process_start>
				<observers>
					<elasticsearch_catalog_entity_attribute_save_after>
						<class>elasticsearch/events_observer</class>
						<method>reindex</method>
					</elasticsearch_catalog_entity_attribute_save_after>
				</observers>
			</catalogsearch_index_process_start>
			<catalog_product_delete_before>
				<observers>
					<elasticsearch_catalog_product_delete_before>
						<class>elasticsearch/events_observer</class>
						<method>catalogProductDeleteBefore</method>
					</elasticsearch_catalog_product_delete_before>
				</observers>
			</catalog_product_delete_before>
			<cataloginventory_stock_item_save_after>
				<observers>
					<elasticsearch_cataloginventory_stock_item_save_after>
						<class>elasticsearch/events_observer</class>
						<method>catalogInventoryStockItemSaveAfter</method>
					</elasticsearch_cataloginventory_stock_item_save_after>
				</observers>
			</cataloginventory_stock_item_save_after>
			<catalog_entity_attribute_save_before>
				<observers>
					<elasticsearch_catalog_entity_attribute_save_before>
						<class>elasticsearch/events_observer</class>
						<method>catalogEntityAttributeSaveBefore</method>
					</elasticsearch_catalog_entity_attribute_save_before>
				</observers>
			</catalog_entity_attribute_save_before>
			<catalog_entity_attribute_delete_after>
				<observers>
					<elasticsearch_catalog_entity_attribute_delete_after>
						<class>elasticsearch/events_observer</class>
						<method>catalogEntityAttributeDeleteAfter</method>
					</elasticsearch_catalog_entity_attribute_delete_after>
				</observers>
			</catalog_entity_attribute_delete_after>
		</events>
	</global>
	<frontend>
		<routers>
			<elasticsearch>
				<use>standard</use>
				<args>
					<module>Magehack_Elasticsearch</module>
					<frontName>elasticsearch</frontName>
				</args>
			</elasticsearch>
			<catalog>
				<args>
					<modules>
						<magehack_elasticsearch before="Mage_Catalog">Magehack_Elasticsearch</magehack_elasticsearch>
					</modules>
				</args>
			</catalog>
		</routers>
		<layout>
			<updates>
				<elasticsearch>
					<file>elasticsearch.xml</file>
				</elasticsearch>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<events>
			<adminhtml_catalog_product_attribute_edit_prepare_form>
				<observers>
					<elasticsearch_adminhtml_catalog_product_attribute_edit_prepare_form>
						<class>elasticsearch/events_observer</class>
						<method>adminAttributeEdit</method>
					</elasticsearch_adminhtml_catalog_product_attribute_edit_prepare_form>
				</observers>
			</adminhtml_catalog_product_attribute_edit_prepare_form>
		</events>
		<layout>
			<updates>
				<elasticsearch>
					<file>elasticsearch.xml</file>
				</elasticsearch>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<elasticsearch>
			<globals>
				<searchlimit>500</searchlimit>
				<has_wildcard>1</has_wildcard>
			</globals>
			<index>
				<reset_static_members>0</reset_static_members>
			</index>
		</elasticsearch>
	</default>
</config>
